<!-- start custom head snippets -->

<!-- favicons using https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="/wps-thespians/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/wps-thespians/favicon.svg" />
<link rel="shortcut icon" href="/wps-thespians/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/wps-thespians/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="WPS Thespians" />
<link rel="manifest" href="/wps-thespians/site.webmanifest" />
<!-- end custom head snippets -->